<div class="container-fluid">
  <h3 class="display-3 text-white">Items in {{catItemCtrl.items.category.name}} ({{catItemCtrl.items.category.short_name}})</h3>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="item in catItemCtrl.items.menu_items">
      <span class="font-weight-bold">{{item.short_name}}:</span> <span class="font-italic">{{item.name}}</span>

    </li>
  </ul>

</div>
<!-- <pre>{{catItemCtrl.items.menu_items}}</pre> -->

<!-- <ul>
  <li ng-repeat="item in catItemCtrl.items."></li>
</ul> -->